<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new">New Messages</a></li>
            
        </ul>
    </nav>

    <div style="text-align: center;">
    <h3>Form</h3>
    <form action="/new" method="post">
    <label for="userName">Username:</label>
    <input type="text" name="userName">
    <button>Submit</button>
    </form>
    </div>
</body>
</html>