<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <%- include("./partials/breadcrumb.ejs") %>





    <%- include("./partials/flowbite.ejs") %>
</body>
</html>